<div class="text-right">
    <h3>Shopping Cart ({{cart?.totalItems}})</h3>
    <h2 *ngIf="cart?.totalItems>0">Total Amount {{cart?.totalAmount|currency:'EUR'}}</h2>
</div>

<div *ngFor="let product of cart?.products">
    <div class="card  ">
        <div class="img-card  g-0">
            <div class="col-md-3 col-sm-6">
                <img src="assets/images/productsimg/{{product.drink}}-cart.png" alt="..." class="img-responsive">
            </div>
            <div class="col-md-5 col-sm-6 productProperty">
                <div>
                    <h3 class="card-title d-inline box_body">
                        {{product.drink}}
                    </h3>
                    <div class="clearflex">
                        <div class="productProperty">
                            <h5 class="card-title d-inline">Size: {{product.size}}</h5><br />
                            <h5 class="card-title d-inline">Price: {{product.price|currency:'EUR'}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 productProperty">
                <div class="amount ">
                    <div class="btn-group btn-group-lg ">
                        <button (click)="onPreSpinner($event,product)" type="button" class="btn btn-danger btnSize"
                            data-action="decrement"><i class="pi pi-minus" style="font-size: 2rem"></i></button>
                        <input type="number" [(ngModel)]="product.num" (ngModelChange)="modelChanged($event,product)"
                            value="{{product.num}}" class="inputQty">
                        <button (click)="onNextSpinner($event,product)" type="button" class="btn btn-success btnSize"
                            data-action="increment"><i class="pi pi-plus" style="font-size: 2rem"></i></button>
                    </div>
                    <h4 class="cardAmonut">Amount:
                        {{product.amount|currency:'EUR'}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>