@import '../scss/variables';


*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $base-font-color;
background-color: #ddd0c8;
}


a {
  text-decoration: none !important;
  color: $anchor-font-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  margin: 0;
  font-weight: bolder;
  color: #6D454D;
  text-transform: capitalize;

}


p {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color-grey;
  font-weight: 300;
  text-transform: none;
  color: #050505;
}


/**
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

/**
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/**
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/base5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
* Remove default fieldset styles.
*/

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/**
* Allow only vertical resizing of textareas.
*/

.paymentspageborder{
  border-right: 2px solid #6D454D;

}

textarea {
  resize: vertical;
}

/**
* Responsive images
*/

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem 0;
    text-align: left;
    color: #6D454D;
   font-size: small;
   text-transform: capitalize;
    font-weight: bolder;
   
  
  }
}


button {

  
  text-transform: capitalize;

  padding: 0 6px;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;

  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.mat-raised-button {
 
  background-color: #fff;
  color: white;
  text-transform: capitalize;
}


.mat-option {
  color: #6D454D !important;
  text-transform: capitalize;
  font-weight:bolder;
  /* col
  or: rgba(0,0,0,.87); */
}


.mat-expansion-panel-header {
      background: #6D454D;
}
.mat-expansion-panel-header-title {
  color: white;
  font-weight: bold;
  background-color: #6d454d;
}

.mat-expansion-panel-header-title {
  color: #d9d7d7;
  font-weight: bold;
  background-color: transparent;
  z-index: 100;
}

.mat-expansion-panel-body {
  padding: 0 24px 16px;
  background: #ddd0c8;}