<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                
                <ul class="list-inline">
                    
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/vidyabharti-sahu/" target="_blank" aria-label="Link to LinkedIn account">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#585858"><path d="M19 0H5a5 5 0 0 0-5 5v14a5 5 0 0 0 5 5h14a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z"></path></svg>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:vidyasahu.0620@gmail.com" aria-label="Link to Email">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#585858"><path d="M0 3v18h24V3H0zm21.518 2L12 12.713 2.482 5h19.036zM2 19V7.183l10 8.104 10-8.104V19H2z"></path></svg>
                            </a>
                        </li>
                    </ul>
                    <p>&copy; vidyabharti-sahu. All rights reserved. </p>
               
            </div>
            
        </div>
    </div>
</footer>

